# Function dependencies, for example:
# package>=version
# Function dependencies, for example:
# package>=version
numpy
pandas
matplotlib
simplejson
json5
jsonschema
python-dateutil
openpyxl
requests
requests-html
requests-unixsocket
retrying
async-timeout
pickleshare
ta
backtesting