<!-- https://flask.palletsprojects.com/en/2.1.x/tutorial/templates/ -->
<!DOCTYPE html>
<title>Crypto Predictor API</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<body>
  <div class="entirePage">
    <nav>
      <h1>Crypto Predictor API</h1>
    </nav>
    <div class="animate"></div>
    <section class="content">
      <div>
        <h2>Index Page</h2>
        <strong>(Documentation will go here)</strong>
        <a
          href="https://github.com/The-Professor99/Crypto_Predictor_Backend#crypto_predictor_backend"
          >Currently housed here pending completion</a
        >
      </div>
    </section>
  </div>
</body>
